.filters-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters-section--collapsed {
  display: none;
}

@media (min-width: 992px) {
  .filters-section--collapsed {
    display: flex;
  }
}
