@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
}

:root {
  --bs-primary: #01BCF3;
  --bs-secondary: #ffffff;
  --bs-font-family-base: 'Roboto', sans-serif;
  --bs-border-radius: 0.375rem;
  --bs-link-color: #01BCF3;
  --bs-link-hover-color: #029ac9;
  --bs-dark: #000000;
  --bs-light: #f8f9fa;
}
