.contact-section {
  background-color: var(--bs-primary);
  padding-top: 3rem;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.icon-circle .bi {
  font-size: 1.5rem;
}

.fs-responsive {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .icon-circle {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 992px) {
  .icon-circle .bi {
    font-size: 2rem;
  }
  .fs-responsive {
    font-size: 1.5rem;
  }
}
