.contact-section {
    background-color: #56b6e6;
    padding-top: 3rem;
  }
  
  .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
    @media (min-width: 768px) {
      width: 70px;
      height: 70px;
    }
  
    .bi {
      font-size: 1.5rem;
  
      @media (min-width: 992px) {
        font-size: 2rem;
      }
    }
  }
  
  .fs-responsive {
    font-size: 1rem; // mobile
    @media (min-width: 992px) { // lg
      font-size: 1.5rem;
    }
  }
  