@import "../../styles/custom-variables.scss";


// 5. Logo responsive
.logo-container {
    position: relative;
    width: 12.5rem; // 200px en rem (200/16 = 12.5)
    height: 6.25rem; // 100px en rem (100/16 = 6.25)
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        width: 25rem; // 400px en rem (400/16 = 25)
        height: 12.5rem; // 200px en rem (200/16 = 12.5)
    }
}

.logo-image {
    object-fit: contain;
    object-position: center;
}

.hero {

    .object-cover {
        object-fit: cover;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}