// Importar fuente Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Colors

$primary: #01BCF3;
$secondary: #ffffff;

// Font Family
$font-family-base: 'Roboto', sans-serif;

// Border Radius
$border-radius: 0.375rem;

// 📦 Importar Bootstrap (después de sobrescribir las variables)
@import "../node_modules/bootstrap/scss/bootstrap";



// 1. Botón personalizado responsive
.btn-custom {
    @include button-size(0.75rem, 1.25rem, 1rem, $border-radius); // Tamaño M por defecto
    color: $primary;
    background-color: white;
    border: 1px solid $primary;
    font-weight: 500;

    @include media-breakpoint-up(md) {
        @include button-size(1rem, 2rem, 2rem, $border-radius); // Tamaño L en desktop
    }

    &:hover {
        background-color: $primary;
        color: white;
    }
}